
  <div class="container px-5,py-10">
    <%= form_with model: @customer, url: update_customer_path(@customer.id),method: :patch do |f| %>

    <div class="row">
      <div class="col-md-3">
        <p>名前</p>
      </div>
      <div class="col-md-4">
        <div class="field">
            <%= f.label :"(姓)" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="field">
            <%= f.label :"(名)" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>フリガナ</p>
      </div>
      <div class="col-md-4">
        <div class="field">
            <%= f.label :"(セイ)" %>
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "name" %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="field">
            <%= f.label :"(メイ)" %>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "name" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        郵便番号(ハイフンなし)
      </div>
      <div class="col-md-4">
        <div class="field">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal-code" %>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>住所</p>
      </div>
      <div class="col-md-9">
        <div class="field">
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        電話番号
      </div>
      <div class="col-md-4">
        <div class="field">
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "tel" %>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>メールアドレス</p>
      </div>
      <div class="col-md-4">
        <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
        <div class="actions">
          <%= f.submit "変更内容を保存", class:"btn btn-success" %>
        </div>
      </div>
      <div class="col-md-5">
        <%= link_to customers_confirm_path(@customer),class:"btn btn-danger" do %>
          <p>退会する</p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

