<div class="contaier">
 <div class="row">
  <div class="col-md-8 offset-md-1">
   <!--customerindexの記述-->
    <h3>マイページ</h3>
    <span>登録情報</span>
    <%= link_to public_customers_edit_path(current_customer),class:"btn btn-block btn-outline-secondary" do %>
     <p>編集する</p>
    <% end %>
      <table class="table table-hover table-inverse">
       <th></th>
       <tbody>
        <tr>
          <th>
            <td>
             氏名
            </td>
          </th>
          <td>
            <%= @customer.last_name %> <%= @customer.first_name %>
          </td>
        </tr>
        <tr>
          <th>
            <td>
              カナ
            </td>
            <td>
              <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
            </td>
          </th>
        </tr>
        <tr>
          <th>
            <td>
              郵便番号
            </td>
            <td>
              <%= @customer.postal_code %>
            </td>
          </th>
        </tr>
        <tr>
          <th>
            <td>
              住所
            </td>
            <td>
              <%= @customer.address %>
            </td>
          </th>
        </tr>
        <tr>
          <th>
            <td>
              電話番号
            </td>
            <td>
              <%= @customer.telephone_number %>
            </td>
          </th>
        </tr>
        <tr>
          <th>
            <td>
              メールアドレス
            </td>
            <td>
              <%= @customer.email %>
            </td>
          </th>
        </tr>
        </tbody>
      </table>
      <span>注文履歴</span>
     <%= link_to public_orders_path(@orders),class:"btn btn-block btn-outline-secondary" do %>
      <p>一覧を見る</p>
     <% end %>
    </div>
  </div>
</div>