<div class="contaier px-5">
 <div class="row">
   <div class="col-md-10">
     <h2>商品一覧</h2>
   </div>
   <div class="col-md-2">
    <%= link_to admin_items_new_path do %>
      <p>商品新規登録</p>
     <% end %>
   </div>
 </div>
 <div class="row">
  <div class="col-md-8 offset-md-1">
   <!--itemindexの記述-->
    
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th colspan="3"></th>
          </tr>
       </thead>
       <tbody>
        <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= link_to admin_show_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          </td>
          <td>
            <%= item.price %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>