<h3>商品新規登録</h3>

<%= form_with model: @items, url: admin_items_create_path do |f| %>

  <div class="field">
      <%= f.label :商品画像 %>
      <%= f.file_field :image, accept:"image/*" %>
  </div>

  <div class="field">
      <%= f.label :商品名 %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
      <%= f.label :商品説明 %>
      <%= f.text_field :introduction, autofocus: true %>
  </div>
  
  <div class="field">
      <%= f.label :税抜価格 %>
      <%= f.number_field :price, autofocus: true, autocomplete: "price" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>