<div class="container px-5"><!--このpxはpadding x方向を意味する。pyはy方向。-->
  <div class="row">
    <div class="col-md-3">
      <h2>管理者ログイン</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with model: @admin, url: new_admin_session_path do |f| %>
      <table>
        <tr>
          <th>
            <div class="field">
              <%= f.label :メールアドレス %>
            </div>
          </th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>
            <div class="field">
              <%= f.label :パスワード %>
            </div>
          </th>
          <td>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <th>
          </th>
          <td>
            <div class="actions">
              <%= f.submit "ログイン", class:'btn btn-primary'  %>
            </div>
          </td>
        </tr>
      </talbe>

      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
