
<!--新着商品の記述（新しい順で４つまで）-->

<!--すべての商品を見るリンクタグ（右下）-->
<div class="container px-5"><!--このpxはpadding x方向を意味する。pyはy方向。-->
  <div class="row">
<!--topのサイト紹介文-->
    <div class="col-md-7 offset-md-1">
      <p>
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <div class="row">
      <h2>新着商品</h2>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-2">
            <div>
              <%= link_to show_items_path(item.id) do %>
                <%= image_tag item.get_image(100,100) %>
              <% end %>
            </div>
            <div>
              <%= link_to show_items_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </div>
            <div>
              <%= item.price %>
            </div>
        <%= paginate @items %>
    </div>
    <% end %>
  </div>
</div>