<div class="contaier">
 <div class="row">
  <div class="col-md-8 offset-md-1">
    <h2>注文履歴詳細</h2>
      <table class="table table-hover table-inverse">
          <tr>
            <th>購入者</th>
            <td>
              <%= @order_detail.order.customer.last_name %> <%= @order_detail.order.customer.first_name %>
            </td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order_detail.created_at %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order_detail.order.address %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order_detail.order.payment_method_i18n %></td>
          </tr>
      </table>
  </div>
 </div>
 <div class="row">
   <div class="col-md-8 offset-md-1">
     <table>
       <thead>
         <th>商品名</th>
         <th>単価</th>
         <th>数量</th>
         <th>小計</th>
       </thead>
        <% @order_details.each do |order_detail| %>
       <tbody>
          <td>
            <%= order_detail.item.name %>
          </td>
          <td>
            <%= order_detail.unit_price %>
          </td>
          <td>
            <%= order_detail.quantity %>
          </td>
          <td>
            <%= order_detail.unit_price %>*<%= order_detail.quantity %>
          </td>
        <% end %>
        <%= paginate customers %>
     </table>
   </div>
   <div class="col-md-2">
     <table>
       <tr>
         <th>商品合計</th>
         <td>

         </td>
       </tr>
       <tr>
         <th>送料</th>
         <td><% @postage %></td>
       </tr>
       <tr>
         <th>請求金額合計</th>
         <td>

         </td>
       </tr>
     </table>
   </div>
 </div>
</div>