<div class ="contaier px-5">
  <div class="row">
    <div class="col">
      <h2>ショッピングカート</h2>
      <table>
        <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
            <tr>
                <td><%= cart_item.item.name %></td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= form_with model: cart_item , url: update_cart_item_path(cart_item.id) , method: :patch do |f| %><!--カートに遷移する際のパスがわからない-->
                     <%= f.hidden_field :item_id, :value => cart_item.item_id %>
                     <%= f.select :amount, *[1..10] %>
                     <%= f.submit '変更', class:"btn btn-success" %>
                   <% end %>
                </td>
                <td><%= cart_item.subtotal %></td><!--カートに遷移する際のパスがわからない-->
                <td>
                   <%= link_to "削除する", destroy_cart_item_path(cart_item.id), method: :delete, :class => "btn btn-danger ms-3" %>
                </td>
                <% @total +=  @total + cart_item.subtotal %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>