<div class ="contaier px-5">
  <div class="row">
    <div class="col-7">
      <h2>注文履歴一覧</h2>
      <table>
        <thead>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>注文詳細</th>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.updated_at %></td>
                <td><%= order.address %></td>
                <td>
                    <%= @order_details.@items%>                      <!--注文商品の書き方を質問する。-->
                </td>
                <td><%= order.total_amount %></td>
                <td>
                  <%= link_to "表示する", show_order_path(order.id), :class => "btn btn-primary ms-3" %>
                </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>