<div class ="contaier px-5">
  <div class="row">
    <div class="col">
      <h2>注文情報入力</h2>
      <p>支払方法</p>
      <%= form_with model: @order, url: orders_confirm_path do |f| %>
       <%= f.radio_button :payment_method, "credit_card" %>
       <%= f.label :payment_method_credit_card, "クレジットカード" %>
       <%= f.radio_button :payment_method, "transfer" %>
       <%= f.label :payment_method_transfer, "銀行振込" %>
      <% end %>
    </div>
  </div>
</div>