<div class ="contaier px-5">
  <div class="row">
    <div class="col">
      <h2>注文情報入力</h2>
      <%= form_with model: @order, url: orders_confirm_path do |f| %>
      <p>支払方法</p>
       <%= f.radio_button :payment_method, "credit_card" %>
       <%= f.label :payment_method_credit_card, "クレジットカード" %>
       <%= f.radio_button :payment_method, "transfer" %>
       <%= f.label :payment_method_transfer, "銀行振込" %>
      <p>お届け先</p>
       <%= f.radio_button :address %><!--お届け先周りを質問する。-->
       <%= f.label :address %>
       <%= f.label :name %>
       <%= f.submit "確認画面へ進む" %>
      <% end %>
    </div>
  </div>
</div>