<div class ="contaier px-5">
  <div class="row">
    <div class="col">
    <span>商品一覧</span><span>(全<%= @items.count%>件)</span>
      <% @items.each do |item| %>
        <%= link_to public_show_items_path(item.id) do %>
          <div><%= image_tag item.get_image(100,100) %></div>
          <div><%= item.name %></div>
        <% end %>
        <div>￥<%= item.price %></div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>