<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="https://kit.fontawesome.com/78bcbcecca.js" crossorigin="anonymous"></script>-->
  </head>

  <body>
      <header>
           <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user),class:"nav-link text-light" do %> <!--hrefでログインユーザーページを指定する方法がわからない-->
              商品一覧                                   <!-- link to passの形に書き換えて解決。パスの後にclass指定することで、CSSを適応させることができる。-->
            <% end %>
          </li>
          <li>
            <a class="nav-link text-light" href="/admin/customers/index">                          <!--管理者と顧客のヘッダーを分けたいが方法がわからない-->
              会員一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/admin/orders">
              注文履歴一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/admin/sign_out">
              ログアウト</a>
          </li>

              <% else %>

          <li>
            <a class="nav-link text-light" href="public/about">
              About</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/admin/items">
              商品一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/public/sign_up">
              新規登録</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/admin/sign_in">
              ログイン</a>
          </li>
              <% end %>
          </ul>
          </div>
          </div>
        </nav>
    </header>
    <%= yield %>
    <footer>
     <div class="container mt-5">
      <div class="row">
       <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
       </div>
      </div>
     </div>
    </footer>
  </body>
</html>
